# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
19120583_Project1_Student/.vs/19120583_Project1_Student/v16/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.log
*.recipe
19120583_Project1_Student/MockRepoV1/.vs/MockRepoV1/v16/.suo
19120583_Project1_Student/MockRepoV2/.vs/MockRepoV2/v16/.suo
*.iobj
*.ipdb
